<html>
  <head></head>
  <body style="font-family: PT Sans, Sans-Serif; color: #333333;">
    <h2 style="font-size: 18px; padding-bottom: 8px;">
      Hi {{ .Name }},
    </h2>
    <p style="font-size: 14px; padding-top: 8px;">
      This is a notification from <a href="http://go.t34.me">go.t34.me</a>.
    </p>
    <p style="font-size: 14px;">
      <strong>{{ .Msg }}</strong>
    </p>
    <p style="fontfont-size: 20px; padding-top: 15px;">
      <a href="https://github.com/z0rr0/go.t34.me" style="color: #1b70e0;"><strong>Show on GitHub.com</strong></a>
    </p>
  </body>
</html>
